h1 {
    text-align: center;
    font-weight:bold;
    font-size:60px;
}

.flex-container{
    display: flex;
    font-weight:bold;
    font-size:40px;
    flex-direction:row;
    justify-content: space-around;

}

.flex-item{
    margin-top:90px;
    text-align:center;
}

.stack{
    display:flex;
    flex-direction:column;
}

input{
    border-radius: 12px;
    border-color:black;
    padding:15px;
    margin-top:10px;
    box-shadow: 1px 3px rgb(234, 230, 230);
}

button{
    background-color: brown;
    font-size: 40px;
    font-weight:bold;
    border-radius: 12px;
    color:white;
    padding:10px;
    margin-left:44.5%;
}

button:hover{
    background-color: rgb(114, 31, 31);
}

body{
    background-color: rgb(251, 247, 242);
}